%html
  .strangers
    .strangers_title
      知らない人用

    %ul.strangers_audios
      %li.strangers_audios_voice
        「はーい」
        %br
        %br
        = audio_tag('hai.mp3', id: 'test-audio', controls: "controls", controlslist:"nodownload")

