.wrapper
  = render "audios/sidebar"
  
.message-page
  .message-page_title
    情報交換ページ
  
  .message-page_contents
    .message-page_contents_info
      %p.message-page_contents_info_name
        testuser
      %p.message-page_contents_info_date
        2021/01/01(Fry)00:00:00
    %p.message-page_contents_text
      防犯しましょう！
  
  .message-page_contents
    .message-page_contents_info
      %p.message-page_contents_info_name
        testuser2
      %p.message-page_contents_info_date
        2021/01/01(Fry)00:10:00
    %p.message-page_contents_text
      帰省している方は気をつけてください


  -# ログインしている場合のみ表示
  - if user_signed_in?
    .message-page_form
      %form.input-form
        %input.input-form_text{type: "text", placeholder: "入力してください"}
        -# 画像投稿
        -# %label.input-form_icon
        -#   %i.fas.fa-image
        -#   %input.input-form_file{type:"file"}
        %input.input-form-btn{type: "submit", value: "送信"}
