%html
  .top-bar
    .top-bar_title
      %span.outline
        まもるくん

    %ul.top-bar_menu
      %li
        %i.fas.fa-truck
          = link_to "宅配業者用", "delivery_traders#index"
      %li
        %i.fas.fa-user-alt-slash
          = link_to "知らない人用", "strangers"

    .top-bar_use
      %i.fas.fa-chalkboard-teacher
        使い方

