%html
  .main-space
    .main-space_how-to
      .main-space_how-to_title
        使い方
      .main-space_how-to_use
        上記のメニューバーから「宅配業者用」、「知らない人用」を選びます。
        %br お手持ちのPC、スマートフォンのスピーカーをインターホンのマイクに近づけてください。
        適した音声を選び、再生ボタンを押してください。
        %br 男性の声であなたの代わりにインターホン越しに対応します。

    .main-space_sumple
      .main-space_sumple_title
        サンプル音源
      .main-space_sumple_voice
        「はーい」
        %br
        %br
        = audio_tag('hai.mp3', id: 'test-audio', controls: "controls", controlslist: "nodownload")

    .main-space_description
      .main-space_description_title
        まもるくん とは・・・
      .main-space_description_text
        女性の一人暮らし、お子さんのお留守番が不安・・・。
        %br 男性が一緒にいてくれたらいいのに。
        %br 男性の声でインターホンに対応することができれば相手に男性がいると思わせることができ、防犯に繋がるのではないかと考えました。
        女性やお子さんが一人で家にいても安心できることを目的として制作したアプリケーションです。

    .main-space_contact
      .main-space_contact_title
        お問い合わせ

      .main-space_contact_text
        お問い合わせ・ご要望がございましたらこちらにお問い合わせください。
        %br
        %i.fab.fa-twitter
          @yuri2509program
