%html
  .main-space
    .main-space_how-to
      .main-space_how-to_title
        使い方
      .main-space_how-to_text
        上記のメニューバーから「宅配業者用」、「知らない人用」を選びます。
        %br お手持ちのPC、スマートフォンのスピーカーをインターホンのマイクに近づけてください。
        適した音声を選び、再生ボタンを押してください。
        %br 男性の声であなたの代わりにインターホン越しに対応します。

    .main-space_sumple
      .main-space_sumple_title
        サンプル音源
      .main-space_sumple_text
        「はーい」
        %br
        %br
        = audio_tag('hai.mp3', id: 'test-audio', controls: "controls", controlslist: "nodownload")

    .main-space_description
      .main-space_description_title
        まもるくん とは・・・
      .main-space_description_text
        女性の一人暮らし、お子さんのお留守番が不安・・・。
        %br 男性が一緒にいてくれたらいいのに。
        %br 男性の声でインターホンに対応することができれば相手に男性がいると思わせることができ、防犯に繋がるのではないかと考えました。
        女性やお子さんが一人で家にいても安心できることを目的として制作したアプリケーションです。

    .main-space_login
      .main-space_login_title
        ログイン・ゲストログイン（工事中）
      .main-space_login_text
        メールアドレス・パスワードでユーザーログインができます。
        %br 新規登録もこちらのページからできます。
        ログインすることで、情報交換ページの書き込みが可能になります。
        %br 
        %br ゲストログインは登録無しでログインと同等のサービスを利用することができます。
      
    .main-space_information
      .main-space_information_title
        情報交換ページ（工事中）
      .main-space_information_text
        ユーザー様同士での情報交換の為の掲示板です。
        不審者の目撃情報の交換や、お勧めの防犯グッズの紹介などにお使いください。
        誹謗中傷などの不適切な書き込みは見つけ次第削除させていただきます。
    

    .main-space_contact
      .main-space_contact_title
        お問い合わせ（工事中）
      .main-space_contact_text
        お問い合わせ・ご要望がございましたらこちらにお問い合わせください。
