%html
  .main-space
    .main-space_how-to
      .main-space_how-to_title
        使い方
      .main-space_how-to_use
        上記のメニューバーから「宅配業者用」、「知らない人用」を選びます。
        %br お手持ちのPC、スマートフォンのスピーカーをインターホンのマイクに近づけてください。
        適した音声を選び、再生ボタンを押してください。
        %br 男性の声であなたの代わりにインターホン越しに対応します。


