%html
  .delivery-traders
    .delivery-traders_title
      宅配業者用

    %ul.delivery-traders_audios
      %li.delivery-traders_audios_voice
        「はーい」
        %br
        %br
        = audio_tag('hai.mp3', id: 'test-audio', controls: "controls", controlslist:"nodownload")

      %li.delivery-traders_audios_voice
        「はい」
        %br
        %br
        = audio_tag('はい.mp3', controls: "controls", controlslist:"nodownload")

      %li.delivery-traders_audios_voice
        「そうです」
        %br
        %br
        = audio_tag('そうです.mp3', controls: "controls", controlslist:"nodownload")

      %li.delivery-traders_audios_voice
        「違います」
        %br
        %br
        = audio_tag('違います.mp3', controls: "controls", controlslist:"nodownload")
