.delivery-traders,
.strangers  {
  height: 100vh;
  width: calc(100% - 210px);
  background-color: #ecbbb5;
  color: white;
  padding: 30px 100px;
  float: right;

  &_title {
    color: #bee0cc;
    font-size: 20px;
    font-weight: bold;
    @include outline-set;
    padding: 20px 0;  
  }

  &_audios {
    padding-left: 10px;
  
    &_voice{
      padding-bottom: 30px;
    }  
  }
}
