.notification {
  .notice,.alert {
    background-color: #bee0cc;
    color: white;
    text-align: center;
  }

  // .alert {
  //   background-color: #bee0cc;
  //   color: white;
  //   text-align: center;
  // }
}